.search-form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.search-dropdown {
    margin-right: 10px;
}

.search-input {
    width: 20%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-right: 0px;
}
